@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #0f1213;
}

.ant-tag,
.ant-select {
  font-size: 1rem;
}
.ant-tag {
  margin: 0px 5px;
  padding: 0.25rem 0.75rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
